/* Основной контейнер */
.eventCreatePage {
    background: #000;
    color: white;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.closeButton {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.appTitle {
    font-size: 20px;
    font-weight: bold;
}

.miniAppLabel {
    font-size: 12px;
    color: gray;
}

/* Заголовок */
.pageTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
    opacity: 0.4;
}

/* Карточка загрузки изображения */
.imageUpload {
    display: flex;
    width: 80%;
    max-width: 300px;
    height: 100%;
    justify-content: center;
    margin-bottom: 15px;
}

.imagePlaceholder {
    width: 80%;
    height: 45vh;
    border-radius: 12px;
    border-color: transparent;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadIcon {
    position: absolute;
    background: none;
    border: none;
    font-size: 24px;
    color: gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Поля ввода */
.inputGroup {
    width: 90%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 0 10px 0 10px;
    background: rgba(217, 217, 217, 0.2); /* Лёгкий фон */
}

.inputGroupDateTime {
    width: 90%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(217, 217, 217, 0.2); /* Лёгкий фон */
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Поля ввода */
.inputFieldHalf {
    width: 100%;
    padding: 6px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: normal;
    color:  rgba(255, 255, 255, 0.5);
}

.inputFieldHalf2 {
    width: 40%;
    padding: 6px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: normal;
    color:  rgba(255, 255, 255, 0.5);
}

/* Поля ввода */
.inputFieldDatePicker {
    width: 100%;
    padding: 2px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: normal;
    color:  rgba(255, 255, 255, 255);
}

.inputFieldName {
    width: 100%;
    padding: 12px;
    background: transparent; /* 30% прозрачности */
    border: none;
    color:  rgba(255, 255, 255, 0.4);
    font-size: 26px;
    font-weight: 600;
    border-radius: 12px;
}


.inputField {
    width: 100%;
    padding: 12px 6px 12px 6px;
    background: transparent; /* Лёгкий фон */
    border: none;
    color:  rgba(255, 255, 255, 0.4);
    font-size: 18px;
    border-radius: 12px;
}

.infoText {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}


/* Билеты и опции */
.section {
    width: 90%;
    background: #222;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.switchLabel {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    transform: scale(1.2);
}

/* Дропдауны */
.dropdownLabel {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


/* Кнопка создания */
.submitButton {
    width: 95%;
    max-width: 380px;
    padding: 12px;
    background: #6b8e23;
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 500;

}

/* Разделительная полоса */
.divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 5px 0 5px 0 ;
}


/* Разделительная полоса */
.big_divider {
    width: 100%;
    max-width: 360px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 15px 0 0px 0 ;
}

.inputContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

}



.icon {
    margin: 3px;

}

.titleContainer {
    position: relative;
    width: 100%;
    max-width: 390px;
    display: flex;
    align-items: center;

}

.title {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin: 15px 5px 10px 13px;


}


.comment {
    display: block; /* Блочный элемент */
    text-align: center; /* Центрируем текст по горизонтали */
    font-size: 14px;
    padding: 10px 0 15px 0;
    color: rgba(255, 255, 255, 0.7);;
}


.option-block {
    opacity: 0;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
}

select {
    background: rgb(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444;
    border-radius: 34px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(18px);
}



.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal_content {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    height: 100%;
    max-width: 400px;
    color: white;
}

.input_textarea {
    width: 100%;
    height: 80px;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    resize: none;
}

.char_count {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.hidden_input {
    display: none;
}

.uploadNotification {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.loading {
    color: #808080; /* Серый цвет для загрузки */
}

.success {
    color: #4CAF50; /* Зеленый цвет для успеха */
}

.error {
    color: #f44336; /* Красный цвет для ошибки */
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняет контейнер без искажений */
    border-radius: 12px;
    border: none;
}

.disabledButton {
    color: rgba(0, 0, 0, 0.60);

}

.activeButton {
    color: white;
}








