.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */

    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.tabs {
    display: flex;
    justify-content: space-around; /* Размещаем элементы равномерно */
    align-items: center;
    width: 100%; /* Растягиваем на всю ширину */
}

.tab {
    font-size: 17px;
    cursor: pointer;
    color: #777; /* Серый текст */
    transition: color 0.2s ease-in-out;
}

.activeTab {
    color: white; /* Белый цвет для активной вкладки */
}
